@model IEnumerable<NTierApp.WebApp.Models.CustomerViewModel>

<div class="row">
    <div class="col-sm-12" style="margin-top: 30px">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h2 class="page-head-title"><b><b>Customer Management Screen</b></b></h2>
                <br />
                <div class="col-sm-4">
                    @*<a href="@Url.Action("AddCustomer","Customer")"><button class="btn btn-success">New Customer</button></a><br>*@
                </div>

                <br><br><br><hr>
                <div class="panel-body">
                    <table class="table table-striped table-hover">

                        <thead>
                            <tr style=" background-color:lavender;">

                                <th style="width:30%;">Customer</th>
                                <th style="width:15%;">Phone</th>
                                <th style="width:20%;">Email</th>
                                <th style="width:15%;">Card Number</th>
                                <th style="width:20%;">Registered Date</th>
                                <th style="width:10;">Role</th>

                                <th style="width:8%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="user-avatar cell-detail user-info "><img width="64" height="64" src="~/Content/assets/img/avatar6.png" alt="Avatar"><span>@item.FirstName &nbsp; @item.LastName</span></td>
                                <td>@item.PhoneNumber</td>
                                <td class="cell-detail"><span>@item.Email</span></td>
                                <td class="cell-detail"><span>@item.CardNumber</span></td>
                                <td class="cell-detail"><span>@item.RegisteredDate.ToString("dd/MM/yy HH:mm")</span></td>
                                <td>@item.RoleName</td>
                                <td class="text-right">
                                    <div class="btn-group btn-hspace">
                                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle islemler" aria-expanded="false">Actions<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            <li><a href="@Url.Action("EditRole","Role", new { id=item.Id})"><i class="icon mdi mdi-edit"></i><span>Edit</span></a></li>
                                            <li><a href="#"><i class="icon mdi mdi-delete" onclick="Delete('@item.Id')"></i><span>Delete</span></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

