@model IEnumerable<NTierApp.WebApp.Models.OrderViewModel>

<div class="row">
    <div class="col-sm-12" style="margin-top: 30px">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <center>
                    <h2 class="page-head-title"><b><b>Order Management Screen</b></b></h2>
                </center>
                <br><hr>
                <div class="col-sm-4">
                    <div>
                        <a href="@Url.Action("ConfirmedListOrder","Order")"><button class="btn btn-primary">Go To Confirmed List</button></a>
                    </div>
                </div><br /><br />
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr style="font-size: 16px;  background-color:lavender">
                                <th width="25%">Product Name </th>
                                <th width="26%">User</th>
                                <th width="20%">Order Date</th>
                                <th width="20%">Confirmed Status</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Product.Name</td>
                                    <td>@item.User.UserName</td>
                                    <td>@item.OrderDate</td>
                                    <td>@item.ConfirmStatus</td>
                                    <td class="text-right">
                                        <div class="btn-group btn-hspace">
                                            <button type="button" class="btn btn-success " onclick="ConfirmOrder(@item.Id)">Confirm </button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var token = sessionStorage.getItem("accessToken");
var headers = {};
headers.Authorization = 'Bearer ' + token;

$(document).ready(function () {
if (token == null) {
         toastr.info("Please try again after signin up !", { timeOut: 3000 });
         window.location.href = "/UserManagement/Login"
       }
});

var ConfirmOrder = function(id) {
     $.ajax({
                url: '/api/Orders/ConfirmOrder?id='+id,
                method: 'POST',
                headers: headers,
                success: function () {
                         toastr.success("Selected Ordes confirmed successfully !", { timeOut: 4000 })
                         window.location.href = "/Order/ConfirmedListOrder"
                },
                error: function (jqXHR) {
                   alert("Error !");
                }
            });
     }
</script>